<section id="hero">
  <div class="container">
    <div class="row">
        <div class="col-sm-7">
          <h1>Kansas City Women in Technology</h1>
          <h2>presents</h2>
          <div class="techtalks"></div>
          <h2>Share stories, exchange advice, talk tech, and be yourself.</h2>
          <div class="row">
            <div class="col-sm-2"></div>
            <div class="col-sm-8">
              <a class="btn btn-light" href="#signup" role="button" pageScroll routerLink="/">Ready to Sign Up?</a>
            </div>
            <div class="col-sm-2"></div>
          </div>
        </div>
        <div class="col-sm-5">
          <div class="techtalk-logo"></div>
        </div>
    </div>
  </div>
</section>
