// Colors
$white: #ffffff;
$dark-purple: #484e78;
$light-purple: #666b8f;
$plum: #9d81a2;
$light-plum: #ba99c0;
$light-olive: #d0c675;
$dark-olive: #beb66d;
$teal: #009875;
$aqua: #03A696;
$dark-aqua: #039486;

$blue: #648CA2;
$green: #508991;
$blue-green: #172A3A;
$navy: #004346;

$dark-blue: #436D7E;
$dark-green: #355A60;
$dark-blue-green: #1E374C;
$dark-navy: #002B2D;

// Fonts
$font-family-sans-serif: 'Lato', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol'

