// Primary Colors
$aqua: #03A696;
$blue: #648CA2;
$blue-green: #004346;
$green: #508991;
$navy: #172A3A;
$teal: #009875;

// Secondary
$dark-aqua: #039486;
$dark-blue: #436D7E;
$dark-blue-green: #002B2D;
$dark-green: #355A60;
$dark-navy: #1E374C;

// Accent
$white: #ffffff;

// Fonts
$font-family-sans-serif: 'Lato', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol'

