<section id="mission" xmlns="http://www.w3.org/1999/html">
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <h4>Our Mission</h4>
        <h5>
          TechTalks is for the curious and open-minded, who are looking for community.
          It's a home to meet like-minded people, aiming to connect individuals with similar interests,
          while educating and sharing tech-related topics. Unlike typical mixers or networking events,
          TechTalks helps make long-lasting professional and personal relationships.
        </h5>
      </div>
      <div class="col-sm-6">
        <div class="row">
          <div class="mission-img"></div>
        </div>
      </div>
    </div>
  </div>
</section>
<section id="networking">
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <div class="row">
          <div class="networking-img"></div>
        </div>
      </div>
        <div class="col-sm-6">
          <h4>For Networking</h4>
          <h5>
            You’re not alone.
          </h5>
          <h5>
              There just aren’t enough women in technology, and being the only one can get lonely.
              Break out of your silo and meet women who do what you do. Share stories, exchange advice,
              talk tech, and be yourself. You can come to network, to cowork, or just to chat.
          </h5>
        </div>
    </div>
  </div>
</section>
<section id="growth">
  <div class="growth-img"></div>
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <h4>For Growth</h4>
        <h5>
          Learn from the best. TechTalks were created to be not only a networking event,
          but an opportunity for continuous learning for skills that must constantly evolve
          to keep up with the market. These talks will cover a wide variety of topics including:
        </h5>
      </div>
      <div class="col-sm-6">
        <h5>
          <ul>
            <li>How to be effective in different technology roles</li>
            <li>Value assessment and determining appropriate compensation</li>
            <li>APIs</li>
            <li>Resumes and Interviews</li>
            <li>Careers: How to Have It All</li>
            <li>Technical sessions for javascript, .NET, java, and more</li>
          </ul>
        </h5>
      </div>
    </div>
  </div>
</section>
<section id="team">
  <div class="container">
    <div class="row">
      <div class="col-sm-1"></div>
      <div class="col-sm-10">
        <h4>Meet the Team</h4>
      </div>
      <div class="col-sm-1"></div>
    </div>
    <div class="row">
      <div class="col-sm-3 team-member" *ngFor="let member of team">
          <img class="rounded-circle" src="{{member.img}}" alt="{{member.name}}"/>
          <h6>{{member.name}}</h6>
          <p>{{member.title}}</p>
      </div>
    </div>
  </div>
</section>
<section id="talks">
  <div class="container">
    <div class="row">
      <div class="col-sm-1"></div>
      <div class="col-sm-10">
        <h4>Previous TechTalks</h4>
        <h5>Check out recaps of some previous TechTalks on the Kansas City Women in Technology Blog! </h5>
      </div>
      <div class="col-sm-1"></div>
    </div>
    <div class="row margin-bottom" >
      <div class="col-sm-4 talk" *ngFor="let previoustalk of previoustalks">
        <a href="{{previoustalk.link}}" target="_blank">
          <img class="rounded-circle" src="{{previoustalk.img}}" alt="{{previoustalk.month}}"/>
          <h6>{{previoustalk.month}}</h6>
          <p>{{previoustalk.title}}</p>
        </a>
      </div>
    </div>
  </div>
</section>
<section id="signup">
  <div class="container">
      <h4>Upcoming Event in {{talks[0].date | date: 'y'}}</h4>
      <div class="row">
        <!-- Forecast of events in the current year -->
        <!-- <div class="">
          <h5>{{talks[0].date | date: 'y'}} TechTalks</h5>
          <ul class="list-unstyled" *ngFor="let talk of talks">
            <li><b>{{talk.date | date:'MMMM d'}}th</b> - <a href="{{talk.eventbriteLink}}" target="_blank">{{talk.name}}</a></li>
          </ul>
        </div> -->

        <!-- Promotion of venue sponsor -->
        <!-- <div class="col-sm-5 map">
          <h5 id="hosting-venue">Proudly hosted by {{venue.name}}</h5>
          <a href="{{venue.url}}" target="_blank" class="host">
            <img src="{{venue.img}}" alt="{{venue.name}}">
          </a>
          <p>{{venue.address}}</p>
          <app-map [defaultPosition]="{lat: venue.lat, lng: venue.lng}" [defaultZoom]="zm">
            <app-marker [position]="{lat: venue.lat, lng: venue.lng}" [animation]="'DROP'"></app-marker>
          </app-map>
        </div> -->

        <!-- Upcoming events -->
        <div style="text-align: center; width: 100vw;">
          <!-- <h5>
            <br>{{upcomingTalk.date | date:'fullDate'}}, {{upcomingTalk.time}}
            <br />{{upcomingTalk.name}}
          </h5> -->
          <div style="width:100%; text-align:left;">
            <iframe [attr.src]="upcomingTalkTicketLink" frameborder="0" height="325" width="100%" vspace="0" hspace="0" marginheight="5" marginwidth="5" scrolling="no" allowtransparency="true"></iframe>
          </div>
          <h5>Interested in being a panelist or sponsoring our events: contact lulu.cao@kcwomenintech.org</h5>
        </div>
      </div>
  </div>
</section>
